<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="not-found content">
        <h1>Page not found</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdN_Dqw7F5lTMdaLCTSQ4zq9xpYzA2-4UDkS3Ccbp1421MBF2r-D5dD7xtcjYtxK7Q6bQ&usqp=CAU" alt="">
    </div>
</body>
<%- include('./partials/footer.ejs') %> 
</html>