<nav class="navigation">
    <div class="site-title">
        <a class="title__link-home" href="/">
            <img class="logo-img" src="/images/food-check-icon.gif" alt="">
            <div class="">
                <h3>Food Check App</h3>
                <p>Track when does your food expire</p>
            </div>
        </a>

    </div>
    <ul class="nav-list">
        <li class="nav__item"><a href="/">Hompage</a></li>
        <li class="nav__item"><a href="/list">List</a></li>
        <li class="nav__item"><a href="/list/add">Add to your list</a></li>
    </ul>
</nav>